@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-display: fallback;
  font-family: 'Sailec';
  font-weight: 100;
  src: url('/fonts/Sailec-Hairline.otf') format('opentype');
}
@font-face {
  font-display: fallback;
  font-family: 'Sailec';
  font-weight: 200;
  src: url('/fonts/Sailec-Thin.otf') format('opentype');
}
@font-face {
  font-display: fallback;
  font-family: 'Sailec';
  font-weight: 300;
  src: url('/fonts/Sailec-Light.otf') format('opentype');
}
@font-face {
  font-display: fallback;
  font-family: 'Sailec';
  font-weight: 400;
  src: url('/fonts/Sailec.otf') format('opentype');
}
@font-face {
  font-display: fallback;
  font-family: 'Sailec';
  font-weight: 500;
  src: url('/fonts/Sailec-Medium.otf') format('opentype');
}
@font-face {
  font-display: fallback;
  font-family: 'Sailec';
  font-weight: 600;
  src: url('/fonts/Sailec-Bold.otf') format('opentype');
}
@font-face {
  font-display: fallback;
  font-family: 'Sailec';
  font-weight: 700;
  src: url('/fonts/Sailec-Black.otf') format('opentype');
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  transition: all 0.2s ease-in-out;
}

html {
  font-display: fallback;
  box-sizing: border-box;
  scroll-behavior: smooth;
  image-rendering: crisp-edges;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply font-sans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  color: inherit;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

a:hover {
  color: inherit;
}

button:focus {
  outline: none;
}

ul {
  list-style: none;
}

pre,
code {
  background: transparent;
  border: none;
  font-family: Sailec, -apple-system, BlinkMacSystemFont, sans-serif !important;
}

.uk-tooltip {
  transition: transform 0.2s ease-in-out !important;
}

// CheckBox
.CheckBox {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;

  & label {
    cursor: pointer;
  }

  &:hover span {
    &::before {
      @apply bg-gray-100;
    }
  }
  & input[type='checkbox'] {
    opacity: 0;
  }

  & span {
    margin-left: 0.5rem;

    &::before {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 20px;
      width: 20px;
      border-width: 1px;
      border-radius: 0.25rem;
      background-color: transparent;
    }
  }
  & input[type='checkbox']:checked ~ span::before {
    content: '\2713';
    @apply bg-secondary text-white border-0;
  }
}

// Radio Group
.Radio {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;

  & label {
    cursor: pointer;
  }

  &:hover span {
    &::before {
      @apply bg-gray-100;
    }
  }
  & input[type='radio'] {
    opacity: 0;
  }

  & span {
    margin-left: 0.5rem;

    &::before {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 18px;
      width: 18px;
      // @apply bg-transparent border rounded-full;
      border-width: 1px;
      border-radius: 9999px;
      background-color: transparent;
    }
  }
  & input[type='radio']:checked ~ span::before {
    content: '\2022';
    font-size: 36.5px;
    border-width: 1px;
    color: #4305eb;
    border-color: #4305eb;
  }
}

// ToggleSwitch
.ToggleSwitch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 30px;

  /* Hide default HTML checkbox */
  & input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  & input:checked + .slider {
    @apply bg-secondary;
  }

  & input:checked + .slider:before {
    transform: translateX(24px);
  }
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @apply bg-blue-100;

  &:before {
    position: absolute;
    content: '';
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
  }

  &.round {
    border-radius: 34px;
    &:before {
      border-radius: 50%;
    }
  }
}

// Grid.css
@media screen and (max-width: 1150px) {
  .grid {
    grid-template-columns: 1fr 1fr !important;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr !important;
  }
}
